{% extends "tracker/base.html" %}
{% load static %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if success %}
        <h1>Thank you for sharing your data!</h1>
      {% else %}
        <h1>Share your data</h1>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          <input type="submit" name="" value="Submit">
        </form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}